<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>universities</key>
	<array>
		<dict>
			<key>image</key>
			<string>grfx_BayState.png</string>
			<key>xy</key>
			<string>766,190</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_BERKLEE.png</string>
			<key>xy</key>
			<string>507,337</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_BU.png</string>
			<key>xy</key>
			<string>176,221</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_Emerson.png</string>
			<key>xy</key>
			<string>898,222</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_EMMANUEL.png</string>
			<key>xy</key>
			<string>264,461</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_MCART.png</string>
			<key>xy</key>
			<string>333,560</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_MIT.png</string>
			<key>xy</key>
			<string>420,52</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NEU.png</string>
			<key>xy</key>
			<string>580,477</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_SIMMONS.png</string>
			<key>xy</key>
			<string>216,495</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_HarvardLesley.png</string>
			<key>xy</key>
			<string>280,7</string>
			<key>anchorPosition</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_HarvardMedical.png</string>
			<key>xy</key>
			<string>260,533</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_Suffolk.png</string>
			<key>xy</key>
			<string>849,117</string>
			<key>anchorPosition</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_UMass.png</string>
			<key>xy</key>
			<string>656,677</string>
			<key>anchorPosition</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_Wentworth.png</string>
			<key>xy</key>
			<string>412,533</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_Wheelock.png</string>
			<key>xy</key>
			<string>220,432</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>parking</key>
	<array>
		<dict>
			<key>image</key>
			<string>grfx_Paring_Trilogy_icon.png</string>
			<key>xy</key>
			<string>341,397</string>
			<key>anchorPosition</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_Parking_1330_icon.png</string>
			<key>xy</key>
			<string>510,440</string>
			<key>anchorPosition</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_Parking_BEACON_icon.png</string>
			<key>xy</key>
			<string>486,159</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_Parking_Brookline_icon.png</string>
			<key>xy</key>
			<string>405,256</string>
			<key>anchorPosition</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_Parking_Fenway_icon.png</string>
			<key>xy</key>
			<string>580,321</string>
			<key>anchorPosition</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_Parking_Ipswich_icon.png</string>
			<key>xy</key>
			<string>759,320</string>
			<key>anchorPosition</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_Parking_Landsdowne_icon.png</string>
			<key>xy</key>
			<string>578,228</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_Parking_LM_icon.png</string>
			<key>xy</key>
			<string>210,203</string>
			<key>anchorPosition</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_Parking_Mailand_icon.png</string>
			<key>xy</key>
			<string>341,159</string>
			<key>anchorPosition</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>transit</key>
	<array>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>297,89</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>288,174</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>279,262</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>303,344</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>275,427</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>412,337</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>423,455</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>427,517</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>526,512</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>524,409</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>619,210</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>665,187</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>721,302</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>808,320</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>850,335</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>908,387</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_hubway_icon.png</string>
			<key>xy</key>
			<string>18,657</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_hubway_icon.png</string>
			<key>xy</key>
			<string>342,370</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_hubway_icon.png</string>
			<key>xy</key>
			<string>582,383</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_hubway_icon.png</string>
			<key>xy</key>
			<string>313,616</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_hubway_icon.png</string>
			<key>xy</key>
			<string>474,277</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_YAWKEY_icon.png</string>
			<key>xy</key>
			<string>520,208</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_T_icon.png</string>
			<key>xy</key>
			<string>22,180</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_T_LONGWOOD_icon.png</string>
			<key>xy</key>
			<string>0,380</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_T_MARY_icon.png</string>
			<key>xy</key>
			<string>180,180</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_T_BU_icon.png</string>
			<key>xy</key>
			<string>334,26</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_T_FENWAY_icon.png</string>
			<key>xy</key>
			<string>309,257</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_T_BLANFORD_icon.png</string>
			<key>xy</key>
			<string>520,115</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_T_KENMORE_icon.png</string>
			<key>xy</key>
			<string>695,182</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_T_HINES_icon.png</string>
			<key>xy</key>
			<string>913,360</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_T_SYMPHONY_icon.png</string>
			<key>xy</key>
			<string>932,670</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
	</array>
	<key>retail</key>
	<array>
		<dict>
			<key>image</key>
			<string>grfx_CVS_icon.png</string>
			<key>xy</key>
			<string>627,395</string>
			<key>anchorPosition</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_Gcenter_icon.png</string>
			<key>xy</key>
			<string>618,359</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_LandMark_icon.png</string>
			<key>xy</key>
			<string>272,73</string>
			<key>anchorPosition</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_Marshalls_icon.png</string>
			<key>xy</key>
			<string>504,302</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_SHAWS_icon.png</string>
			<key>xy</key>
			<string>403,424</string>
			<key>anchorPosition</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_TARGET_icon.png</string>
			<key>xy</key>
			<string>449,401</string>
			<key>anchorPosition</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_Trilogy_icon.png</string>
			<key>xy</key>
			<string>270,368</string>
			<key>anchorPosition</key>
			<integer>7</integer>
		</dict>
	</array>
	<key>dining</key>
	<array>
		<dict>
			<key>image</key>
			<string>grfx_1330_icon.png</string>
			<key>xy</key>
			<string>506,425</string>
			<key>anchorPosition</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_BARLOUIE_icon.png</string>
			<key>xy</key>
			<string>443,254</string>
			<key>anchorPosition</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_GAME-ON.png</string>
			<key>xy</key>
			<string>504,232</string>
			<key>anchorPosition</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_CASK_icon.png</string>
			<key>xy</key>
			<string>588,236</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_JERRY_icon.png</string>
			<key>xy</key>
			<string>605,366</string>
			<key>anchorPosition</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_JILLIAN_icon.png</string>
			<key>xy</key>
			<string>735,273</string>
			<key>anchorPosition</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_RSTRT_ROW_icon.png</string>
			<key>xy</key>
			<string>397,483</string>
			<key>anchorPosition</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_SWEET_icon.png</string>
			<key>xy</key>
			<string>630,415</string>
			<key>anchorPosition</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_TASTYBGR_icon.png</string>
			<key>xy</key>
			<string>510,316</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_TAVERN_icon.png</string>
			<key>xy</key>
			<string>532,427</string>
			<key>anchorPosition</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_YARDHOUSE_icon.png</string>
			<key>xy</key>
			<string>414,300</string>
			<key>anchorPosition</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_dining_fenway.png</string>
			<key>xy</key>
			<string>274,398</string>
			<key>anchorPosition</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_dining_landmark.png</string>
			<key>xy</key>
			<string>265,98</string>
			<key>anchorPosition</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_HOUSE-OF-BLUES.png</string>
			<key>xy</key>
			<string>675,240</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>residential</key>
	<array>
		<dict>
			<key>image</key>
			<string>grfx_BEACON_INN.png</string>
			<key>xy</key>
			<string>45,200</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_BostonH.png</string>
			<key>xy</key>
			<string>591,175</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_ELIOTHOTEL.png</string>
			<key>xy</key>
			<string>909,284</string>
			<key>anchorPosition</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_HOTELCOMMONWEALTH.png</string>
			<key>xy</key>
			<string>711,207</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_INNATLONGWOOD.png</string>
			<key>xy</key>
			<string>69,592</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_RESIDENCE_INN.png</string>
			<key>xy</key>
			<string>455,266</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_hotel_Fenway.png</string>
			<key>xy</key>
			<string>287,399</string>
			<key>anchorPosition</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_1330BoylstonStreet.png</string>
			<key>xy</key>
			<string>474,412</string>
			<key>anchorPosition</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_VerbHotel.png</string>
			<key>xy</key>
			<string>584,363</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
	</array>
</dict>
</plist>
